@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.post-script {
	font-family: $jost;
	display: inline-flex;
	flex-direction: column;
	gap: 1rem;

	>p {
		@include p3-type-body-small;
	}

}
